{{ 'section-highlight-text-with-image.css' | asset_url | stylesheet_tag }}

<section class="htwi__wrapper">
  {% if section.settings.image %}
    <div class="htwi__wrapper--image">
      {{ section.settings.image | image_url: width: 720 | image_tag: class: 'htwi__image' }}
    </div>
  {% endif %}

  <div class="htwi__body">
    {% if section.settings.heading != empty %}
      <h2 class="htwi__heading">{{ section.settings.heading }}</h2>
    {% endif %}

    {% if section.settings.paragraph != empty %}
      <div class="htwi__paragraph">
        {{ section.settings.paragraph }}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Highlight Text With Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph"
    }
  ],
  "presets": [
    {
      "name": "Highlight Text With Image",
      "settings": {
        "heading": "A Personal Investment",
        "paragraph": "<p>Mia + Laura left high-profile careers in media and tech in 2015 to start a new venture. They noticed people like their husbands investing everything in their families, communities, and careers but often neglecting their own skincare. Through Oars + Alps, Mia + Laura aimed to support these guys and the investments they make in themselves with premium, hard-working products that can keep up.</p>"
      }
    }
  ]
}
{% endschema %}
